.container {
  background: url(imgs/stars.png), url(imgs/nebula.jpg) no-repeat;
  background-size: auto, cover;
  background-color: #000;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  font-family: sans-serif;
  overflow: hidden;
}

.level-canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: translateZ(0); // makes things faster on the pixel
}

.intro {
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px;
  background: url(imgs/metal.jpg);
  background-size: cover;
  box-shadow: 0 13px 40px #000;
  width: 640px;
  line-height: 1.4;
  display: none;

  & .inner {
    padding: 20px;
    background: rgba(#fff, 0.7);
    box-shadow: 0 2px 7px rgba(#000, 0.6);
  }

  & .ship-demo {
    display: block;
    width: 100%;
    height: 95px;
    -webkit-transform: translateZ(0); // makes things faster on the pixel
  }

  & .go-row {
    margin-top: 15px;
    text-align: center;
  }

  & .begin {
    font-size: 22px;
    line-height: 34px;
  }

  & h1 {
    font-family: akashi;
    font-weight: normal;
    font-size: 50px;
    text-align: center;
    margin: 0;
  }
}